---
layout: blog
title: Workshops
group: navigation
tags : [workshop]
author : Don't Touch My Mushroom
css:
js:
keywords: workshops
canonical: https://dont-tou.ch/workshops
---
{% include JB/setup %}


{% for post in site.posts %}
	{% if post.categories contains 'workshop' %}
	  <div class="blog-block post-content-area">
	   {% if post.img %}
            <a href="{{ BASE_PATH }}{{ post.url }}">
							<img src="{{ BASE_PATH }}/assets/images/{{ post.img }}" alt="{{ post.title }} image">
						</a>
	   {% endif %}
            <div class="blog-post">
              <a href="{{ BASE_PATH }}{{ post.url }}"><h2 class="heading-title">{{ post.title }}</h2></a> <h4 class="sub-title">with {{post.instructor}}</h4>
							<i class="fa fa-calendar icons cyan-color contact-info-icon"></i> <time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">{{ post.date | date_to_string }}</time>
	      <p>{{ post.excerpt }}</p>
              <a class="btn btn-common" href="{{ BASE_PATH }}{{ post.url }}">Read More</a>
            </div>
          </div>
	  <div class="mb-60"></div>
	{% endif %}
{% endfor %}
