/*- Custom style -*/

// -- Put custom style under this point -- //

h2 {
  padding-top: 15px;
}

h3 {
  padding-top: 5px;
}
//
// /* Custom Form */
//
// form {
//   input, textarea {
//     width: 100%;
//   }
// }
//
// /* Custom Footer */
//
// footer a {
//   background-color: $main-color;
//   color: $background-color;
//
//   &:hover {
//     color: lighten($background-color, 5%);
//   }
// }
//
// #header h1 {
//   padding-bottom: 0.6em;
// }

// $primary: #8d021f;
//
// $body-bg: #000;
// $body-color: #111;

a:hover {
  text-decoration: underline;
}

.bg-default {
  background: $main-color;
}

.service-box .service-icon i {
  color: $main-color;
}

.btn-default-filled {
  background: $main-color;

  &:hover {
    background: $hover-color;
    border: 1px solid $hover-color;
  }
}

.navbar {
  padding: 0;
}

.navbar-light .navbar-nav {
  .active a:hover {
    color: black;
  }

  .nav-link {
    color: white;

    &:hover {
      color: black;
    }
  }
}

.align-middle {
  display: grid;
}

.event-heading {
margin-bottom: 20px;

  h1 {
    display: inline;
  }

  h4 {
    display: inline;
  }
}

.white-background {
  background-color: white;
}

.contact-info {
  p {
    margin-left: 30px;
  }

  li {

    margin-bottom: 15px;
  }

    i {
    margin-right: 10px;
    width: 16px;
  }

  a {
    font-size: 16px;
    color: $main-color;
    display: inline;
  }
}

.map {
  width: 100%;
  min-height: 450px;
}

.side-bar a img {
  padding: 10px;
}

.single-testimonial-area .testimonial-inner blockquote {
  font-size: 18px;
}

.blog-posts-widget {
  margin-bottom: 5px;
}

.about-sidebar-widget, .categories-sidebar-widget, .blog-posts-widget {
  padding-left: 20px;
}

.no-padding-sides {
  padding-left: 0;
  padding-right: 0;
}

.logo-container {
  text-align: center;

  .page-logo {
    max-height: 400px;
    width: unset;
  }
}

.video-embed {
  margin: 40px;
  text-align: center;
}

.page ul li {
  list-style-type: circle;
  list-style-position: inside;
  padding: 5px 20px;
}

.contact-info .ticket-link {
  display: block;
  margin-top: 4px;
}

.hero-content-v2 a {
  margin-bottom: 20px;
}