/*- Custom style -*/

// -- Put custom style under this point -- //

// h2 {
//   // color: $main-color;
// }
//
// /* Custom Form */
//
// form {
//   input, textarea {
//     width: 100%;
//   }
// }
//
// /* Custom Footer */
//
// footer a {
//   background-color: $main-color;
//   color: $background-color;
//
//   &:hover {
//     color: lighten($background-color, 5%);
//   }
// }
//
// #header h1 {
//   padding-bottom: 0.6em;
// }

// $primary: #8d021f;
//
// $body-bg: #000;
// $body-color: #111;

.bg-default {
  background: $main-color;
}

.service-box .service-icon i {
  color: $main-color;
}

.btn-default-filled {
  background: $main-color;

  &:hover {
    background: $hover-color;
    border: 1px solid $hover-color;
  }
}
