version: 2.1
orbs:
  ruby: circleci/ruby@1.1.2

jobs:
  build:
    docker:
      - image: cimg/ruby:2.6.3
    executor: ruby/default
    environment:
        TZ: "Europe/Zurich"
    steps:
      - add_ssh_keys:
          fingerprints:
            - "9f:0a:e4:f2:41:a5:81:53:ec:d2:89:4f:df:34:b6:40"
      - checkout
      - run:
          name: Install rsync
          command: apt update && apt install -y rsync
      - ruby/install-deps:
          bundler-version: '2.1.4'
      - run:
          name: Jekyll build
          command: bundle exec jekyll build --destination tmp
      - run:
          name: checkout master branch
          command: |
            git fetch
            git branch -f master origin/master
      - run:
          name: Clear publish directory
          command: rm -rf publish
      - run:
          name: Cone the master branch to publish
          command: |
            git fetch
            git clone -l -b master . publish
      - run:
          name: Merge the built files with master.
          command: |
            sudo apt install -y rsync
            rsync -rvLk --exclude='.git'--delete tmp/ publish
      - run:
          name: Copy the circleci configuration to master to prevent extra builds.
          command: rsync -rvLk .circleci publish/
      - run:
          name: push the files in publish to master
          command: |
            cd publish
            echo ../CNAME CNAME
            git config --global user.email "conan747@circleci.com"
            git config --global user.name "circleci"
            git add .
            git commit -m "Built from circleci" || echo "Not committing."
            git push
            cd ..
            git push origin master

workflows:
  version: 2
  after_push:
    jobs:
      - build:
          filters:
            branches:
              only:
                - v2
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - v2
    jobs:
      - build
