<div class="side-bar sticky-top">

  <br>
  <br>
  <br>

  <div class="card">
    <br />
    <div class="card-block">
      <h4 class="card-title">Antonio Trento</h4>
      <p class="card-text">Appasionate to grow hacking and web marketing.</p>
      <p class="card-text">Dream of developing a profitable business on the web.</p>
      <p class="card-text">You can contact me by press one of downstair social buttons.</p>
      {% include social-block.html %}
    </div>

  </div>


  <div>


  </div>

</div>
