<header id="header">
	<a href="{{ "/" | absolute_url }}/">
		<img src="{{ "/logo.svg" | absolute_url }}" alt="Logo">
	  <h1>Don't Touch My Mushroom</h1>
	</a>

	<p id="container">
		<ul>
		<li><a href="http://eepurl.com/gsW9fr">Stay informed</a> on English Improv events in Zurich!</li>
		<li>
		For improvisers, <a href="/open/">join our open sessions</a>
		on Thursdays.
		</li>
		<li>Follow us on <a href="https://www.facebook.com/donttouchmymushroom/">Facebook
		</a> if you like.</li>
		<li>Something else? <a href="/about/">Get in touch.</a></li>
		</ul>
	</p>
</header>
