

{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
{% assign nowunix = nowunix | plus: 0 %}

{% for post in site.posts reversed %}
	{% if post.categories contains 'show' or 'workshop' %}
  {% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
  {% assign posttime = posttime | plus: 0 %}
  {% if nowunix < posttime %}

    <div class="blog-block about-sidebar-widget">
     <h4>Check out our next
         {% if post.categories contains "show" %} show
         {% elsif post.categories contains "workshop" %} workshop
         {% else %} event
         {% endif %}
       !</h4>
			 <a href="{{ BASE_PATH }}{{ post.url }}">
				 <img src="{{ BASE_PATH }}/assets/images/{{ post.img }}" alt="{{ post.title }} image">
			 </a>
     <p>{{post.date | date_to_string }}</p>

    </div>
    <div class="mb-60"></div>
  	{% endif %}
	{% endif %}
{% endfor %}


          <div class="blog-block blog-posts-widget side-bar sticky-top">

          <a href="/mailing-list">  <img src="{{ BASE_PATH }}/assets/images/mailing_list_logo.png"></a>
            <div class="widget-title">
              <h4><a href="/mailing-list">Get informed about
                {% if page.tags contains "workshop" %} workshops
                  {% else %} shows {% endif %}
                </a></h4>
            </div>
            Join our  <a href="/mailing-list">mailing list</a>.
          <div>
