/*- Custom style -*/

// -- Put custom style under this point -- //

h2 {
  // color: $main-color;
}

/* Custom Form */

form {
  input, textarea {
    width: 100%;
  }
}

/* Custom Footer */

footer a {
  background-color: $main-color;
  color: $background-color;

  &:hover {
    color: lighten($background-color, 5%);
  }
}

#header h1 {
  padding-bottom: 0.6em;
}
